@font-face {
  font-family: "RobotoR";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff2") format("woff");
}

@font-face {
  font-family: "RobotoS";
  src: url("../fonts/Roboto-SemiBold.woff2") format("woff2"),
    url("../fonts/Roboto-SemiBold.woff2") format("woff");
}
